body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.image-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.overlay-text {
    font-size:22vw
    ;     color: white;
    text-align: center;
    opacity: 0;
    animation: fadeInOut 8s ease-in-out forwards;
    font-family: "Danfo", serif;line-height: 0.7;
}

#dataset {
    animation-delay: 5s;     display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    width: 300%; /* Adjust as needed to make scrolling smoother */
    height: 100%;
    animation: scrollLeftRight 150s linear infinite;
   gap: 6rem;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes scrollLeftRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
