body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.image-container {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;
    height: 100%;
}

.image-row {
    display: flex;
    flex: 1;
    animation: scrollLeft 18000s linear infinite;
}

.image-row img {
    width: auto;
    height: 100%;
    margin-right: 10px;
    margin:2rem;
}

/* Adjust the animation duration and speed as needed */
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
