body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
@font-face {
    font-family: 'dotted';
    src: url('dot.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}



.scale-up {
    transform: scale(1.5); /* Adjust the scale factor as needed */
    transition: transform 0.3s ease; /* Smooth transition effect */
}


div.category-section.hidden {
    display: none;
}


.hidden {
    display: none;
}



.flip-card {
    height: 70%;
    z-index: 99999;
    padding: 0 2rem;     border-top: 1px solid #ffffff;padding-top: 3rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.scale-up {
    transform: scale(1.2); /* Scale up the image */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.index-number {line-height: 1;
    position: absolute;
    top: 5px;font-size: 1rem;
    left: 5px;
    color: #ffffff;
    font-family: "dotted", sans-serif !important;
}

.flip-card-front {
    z-index: 99999;
}

.flip-card-back {
    transform: rotateY(180deg);
}

img {border: 1px solid #ffffff ;}
.caption {
font-size: 1rem;
    color: #ffffff;
    text-align: center;opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
    color: #ffffff;    display: none; /* Initially hide the caption */

    text-align: center;

}
.image-item:hover .caption {
    opacity: 1; /* Show caption on hover */
}
.image-item:hover .caption {
    display: block; /* Show the caption on hover */
}
.image-container {
    display: flex;
    flex-direction: column; /* Ensure the rows are stacked vertically */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: grab;
}
#gridOne {  cursor: grab;}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    font-family: "dotted", sans-serif !important;
    transition: opacity 1s ease-out;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    box-shadow: inset 0 5px 60px #ffffff;

}

div.overlay-text {
    z-index: 500;
}



.overlay.hidden {
    opacity: 0;
    visibility: hidden;
}


#benin .year {
    font-size: 10vw;
    /* Smaller font size for the year */
    display: block;
    margin-top: 30px;
}

#dataset .year {
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 800;
}

@keyframes globalfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.global-fade-in {
    opacity: 0;
    /* Start invisible */
    animation: globalfadeIn 1s ease-in-out forwards;
    /* Fade in over 2 seconds */
}


#benin {
    font-size: 24vw;
    /* Full-screen width font size for Benin */
    color: #ffffff;
    text-align: center;
    line-height: 0.8;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: fadeOutDelay 5s ease-in-out forwards;
    /* Animation duration of 10 seconds */
    font-family: "dotted", sans-serif !important;
}

.search-field::placeholder {
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.button-container {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 4s forwards;
}

.image-count {
display:flex;  
    color: #ffffff;
    padding: 10px;
font-size: 4vw;
    font-family: "dotted", sans-serif !important;

}


#dataset {
    font-size: 22vw;
    color: #ffffff;
    text-align: center;
    line-height: 0.8;
    font-family: "dotted", sans-serif !important;
    font-weight: 800;
    text-transform: uppercase;
}



.text {
    font-size: 1rem !important;
    line-height: 1.2;
    font-weight: 400 !important;
}

.close-btn-book {
    grid-column: span 2;
    text-align: right;
    cursor: pointer;
    font-family: "dotted", sans-serif !important;
    font-size: 1rem;
    position: absolute;
    left: 20px;
    font-weight: 800;
}

.category-section {
    position: absolute;

    z-index: 50;

}

.category-border {
    border-radius: 30px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7px);
    box-shadow: inset 0 5px 60px #ffffff;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.category-button .indicator {
    font-family: "dotted", sans-serif !important;
    position: absolute;
    top: 28%;
    right: 20px;
    transform: translateY(-50%);
    display: none;
    font-size: 30px;
}

.category-button.active .indicator {
    display: block;
}

.search-section {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    border-radius: 20px;
    font-family: "dotted", sans-serif !important;

}

.caption {
    font-family: "dotted", sans-serif !important;
}

.search-section input {
    background: black;
    border-radius: 30px;
    margin-right: 20px;
    flex: 1;
    padding: 10px;
    color: #ffffff;
    font-size: 5vw;
    border: none;
    font-family: "dotted", sans-serif !important;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    box-shadow: inset 0 5px 60px #ffffff;


}

.search-field {
    padding: 10px;
    font-size: 5vw;
    width: 100%;
    border: none;
    background: #ffffff;


    color: #ffffff
}

.search-section button {
    padding: 10px;
    font-size: 5vw;
    color: #ffffff;
    border-radius: 30px;
    font-family: "dotted", sans-serif !important;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    box-shadow: inset 0 5px 60px #ffffff;
    border: none;
    padding: 0 30px
}

.filter-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.category-section h2 {
    margin: 0;
}



.category-button {
    margin: 5px 0;
    padding: 10px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.grid-book {
    display: none;
    grid-template-columns: 0.3fr 1fr;
    position: fixed;
    top: 0;
    padding: 8%;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    line-height: 1;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 10px 100px #ffffff;
    color: #ffffff;
    row-gap: 50px;

}

::placeholder {
    color: #ffffff;
    opacity: 1;
    font-weight: 800;
    padding-left: 20px;
}

.book-item {

    font-size: 5vw;
    color: #ffffff;
    font-family: "dotted", sans-serif !important;
    font-weight: 800;
}

h2 {
    font-family: "dotted", sans-serif !important;
    color: #ffffff;
    font-size: 5vw;
    LINE-HEIGHT: 1;
    MARGIN-BLOCK-END: 0;
}

.category-button {
    text-align: left;
    font-size: 8vw;
    line-height: 0.8;
    cursor: pointer;
    font-family: "dotted", sans-serif !important;
    border: none;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 800;
    text-transform: uppercase;
}

@keyframes fadeOutDelay {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 1;
    }
}





@keyframes scrollLeftRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.modal {
    display: none;

    position: fixed;
    z-index: 9999;

    top: 0;

    height: 100%;
    overflow: auto;
    font-family: "dotted", sans-serif !important;
}



.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
    display: flex;
    gap: 10px;
}

a {
    color: #ffffff;
    text-decoration: underline
}

.button-container button {
    padding: 10px 20px;
    font-size: 4vw;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-family: "dotted", sans-serif !important;
    background: transparent;
    display: flex;
    z-index: 999;
    line-height: 1;
    font-weight: 800;


}

.book-list {
    display: none;
    /* Initially hide the book list */
}

.material-icons {
    font-size: 4vw;
}


.range-slider .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.range-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}

.range-slider .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}

.range-slider {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 100;
    color: #ffffff;
    font-family: "dotted", sans-serif !important;
}

.range-slider .slider {
    width: 100%;
}

.range-slider .slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.range-slider .selected-year {
    font-size: 1.5rem;
    margin-top: 10px;
}


.image-grid {
    display: flex;
    width: 100%;
    height: 50%;
    z-index: 30;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab;

}
/* Animations */
@keyframes scrollRowOne {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrollRowTwo {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#gridOne {
    animation: scrollRowOne 90s linear infinite;
}

#gridTwo {
    animation: scrollRowTwo 150s linear infinite;
}

.image-item {
    position: relative;

    perspective: 1000px;
}
.image-item {
    position: relative;
    flex: 0 0 auto; /* Ensure the items don't shrink */
    width: 200px; /* Adjust as needed */
    height: auto;
    perspective: 1000px;    transition: transform 0.3s ease-in-out; /* Smooth scaling */

}

.image-item img {
    width: 100%;
    height: auto;
}

.modal-content {

    padding: 8%;
    color: #ffffff;
    font-size: 5vw;
    font-family: "dotted", sans-serif !important;
    line-height: 0.9;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 10px 100px #ffffff;
}


.close {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
    font-family: "dotted", sans-serif !important;
    font-size: 6vw;
    cursor: pointer;
    line-height: 1;
}